<section  class="container">
    <div class="row center-mobile">
        <div id="banner__header_area" class="col-lg-6 col-md-12 mb-5">
            <h1 id="banner__head">This is the headline</h1>
            <p id="banner__subhead">Lorem ipsum dolor sit amet.</p>
            <img class="img-fluid" src="https://placehold.co/800x800" />
        </div>
        <div class="col-lg-6">
            <div class="row center-mobile">
                <div class="col-lg-6 col-md-6 mb-5">
                    <img class="img-fluid" src="https://placehold.co/400x400" />
                </div>
                <div class="col-lg-6 col-md-6 mb-5">
                    <img class="img-fluid" src="https://placehold.co/400x400" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="img-fluid" src="https://placehold.co/400x400" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="img-fluid" src="https://placehold.co/400x400" />
                </div>
            </div>
        </div>
    </div>
</section>